/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLE */
*{box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, span, div, li, ol, ul, a{
	font-family: verdana, sans-serif;
}
input, select{
	border: 1px solid #819ebc;
}
select{
	font-size: 0.55em;
}
input{
	font-size: 0.55em;
	padding: 0.15em 0.2em;
}
h4{
	/*padding: 1em 0 0.3em 1em;*/
	font: bold 1.2em verdana,sans-serif;
	line-height: 1.7em;
}
.likeH6{
	font: bold 0.65em verdana,sans-serif;
	/*line-height: 2em;*/
}
h3{
	font: bold 1.4em verdana,sans-serif;
	color: #386c93;
}
html,body,#main_container{
	height: 100%;
}
#main_container{
	min-height: 600px;
	margin: 0 auto;
	max-width: 960px;
	min-width: 800px;
}
a{
	text-decoration: none;
}
a.dec{
	text-decoration: underline;
}
.capital{
	text-transform: capitalize;
}
.h3{
	height: 3em;
}
.color_white{
	color: #ffffff;
}
.color_blue{
	color: #044d85;
}
.color_blue369{
	color: #336699 !important;
}
#header{
	padding: 1% 0 0;
}
.row{
	width: 100%;
}
li.bord_none{
	border: none !important;
}
.row:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.left_menu a{
	color: #000000;
}
.left_menu > ul > li:last-child:after{
    content: ".";
    display: block;
    height: 0;
    margin-bottom: 1.74em;
    visibility: hidden;
}
.wrapper{
	/*margin: 0 auto;*/
	min-height: 100%;
	margin-bottom: -15%;
	/*max-width: 960px;*/
	/*min-width: 800px;*/
}
.column{
	float: left;
	/*padding: 0 5px;*/
}
.column.fr{
	float: right;
}
.column.w5{width: 5%;}
.column.w10{width: 10%;}
.column.w15{width: 15%;}
.column.w20{width: 20%;}
.column.w30{width: 30%;}
.column.w35{width: 35%;}
.column.w40{width: 40%;}
.column.w50{width: 50%;}
.column.w60{width: 60%;}
.column.w70{width: 70%;}
.column.w80{width: 80%;}
.column.w90{width: 90%;}
.column.w100{width: 100%;}
.column.w25{width: 25%;}
.column.w75{width: 75%;}
.column.w21{width: 21%;}
.column.w79{width: 79%;}
.column.w16{width: 15.6%;}
.column.w28{width: 28%;}
.column.w49-4{width: 49.4%;}
.column.w50-6{width: 50.6%;}
.column.w21-4{width: 21.4%;}
.column.w78-6{width: 78.6%;}
.column.w13{width: 13%;}
.column.w62{width: 62%;}
.column.w38{width: 38%;}
.column.w45{width: 45%;}
.column.w20-4{width: 20.4%;}
.column.w79-6{width: 79.6%;}
.upper_case{
	text-transform: uppercase;
}
.ital{
	font-style: italic;
}
.pt2{
	padding-top: 2%;
}
.pt3{
	padding-top: 3%;
}
.pt4{
	padding-top: 4%;
}
.pt6{
	padding-top: 6%;
}
.pad5{
	padding: 1em;
}
.padBoth{
	padding: 0 0.5em;
}
.padrl1-5{
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.bordBot{
	border-bottom: 1px solid #bebdbd;
}
.bordBotBlue{
	border-bottom: 1px solid #386c93;
}
.bordLeft{
	border-left: 1px solid #bebdbd !important;
}
.bordRight{
	border-right: 1px solid #bebdbd !important;
}
.bordTop{
	border-top: 1px solid #bebdbd !important;
}
.bordBottom{
	border-bottom: 1px solid #bebdbd !important;
}
.bordLeftNon{
	border-left: none !important;
}
.bordRightNon{
	border-right: none !important;
}
.bordTopNon{
	border-top: none !important;
}
.bordBottomNon{
	border-bottom: none !important;
}
.bord{
	border: 1px solid #bebdbd;
}
.bordOrange{
	border: 1px solid #ff9900;
}
.h100{
	height: 100% !important;
}
.bordRight{
	border-right: 1px solid #bebdbd;
}
.bordBotDot{
	border-bottom: 1px dotted #bebdbd;
}
.padrl1{
	padding: 0 1%;
}
.ptb1--2{
	padding: 1% 0 2%;
}
.ptb3{
	padding: 3% 0;
}
.ptb22{
	padding: 2% 0;
}
.pt0-25em{
	padding-top: 0.25em;
}
.pt4-4{
	padding-top: 4.4%;
}
.pr8{
	padding-right: 8%;
}
.prl5{
	padding: 0 0.8em;
}
.padrl0{
	padding-right: 0%;
	padding-left: 0%;
}
.pl2-5{
	padding-left: 2.5%;
}
.pl3-5{
	padding-left: 3.5%;
}
.pl4{
	padding-left: 4%;
}
.pb1{
	padding-bottom: 1%;
}
.pl8{
	padding-left: 8%;
}
.pl12{
	padding-left: 12%;
}
.pl10{
	padding-left: 10%;
}
.pl0-7{
	padding-left: 0.7%;
}
.pl1{
	padding-left: 1%;
}
.ptl1-17{
	padding: 1.2% 0 0 17%;
}
.padAll1{
	padding: 1%;
}
.pad0-2em{
	padding: 0.2em;
}
.ptb11{
	padding-top: 1%;
	padding-bottom: 1%;
}
.ptl3{
	padding: 3% 0;
}
.pl05em{
	padding: 0 0 0 0.5em;
}
.mtl035_05{
	margin: 0.35em 0 0 0.5em;
}
.ml2-5{
	margin-left: 2.5%;
}
.ml1{
	margin-left: 1%;
}
.ml13{
	margin-left: 13%;
}
.mr2-5{
	margin-right: 2.5%;
}
.mr3{
	margin-right: 3%;
}
.mr4{
	margin-right: 4%;
}
.mr1{
	margin-right: 1%;
}
.mr1-5{
	margin-right: 1.5%;
}
.mt1{
	margin-top: 1%;
}
.mt1-25{
	margin-top: 1.25%;
}
.mt1-35{
	margin-top: 1.35%;
}
.mt1-5{
	margin-top: 1.5%;
}
.mt2{
	margin-top: 2%;
}
.mt3{
	margin-top: 3%;
}
.mt4{
	margin-top: 4%;
}
.mt0-75{
	margin-top: 0.75%;
}
.mt0-5{
	margin-top: 0.5%;
}
.mt-0-5{
	margin-top: -0.5%;
}
.mt-1{
	margin-top: -1%;
}
.mt-0-4{
	margin-top: -0.4%;
}
.mt-0-25{
	margin-top: -0.25%;
}
.mt-0-15{
	margin-top: -0.15%;
}
.mt7{
	margin-top: 7%;
}
.mt5{
	margin-top: 5%;
}
.tabs{
	border: 1px solid #bebdbd;
}
.banner{
	background: url(../img/banner.png) no-repeat;
	width: 335px;
	height: 95px;
}
.shop_picture{
	background: url(../img/shop_picture.png) no-repeat;
	width: 335px;
	height: 95px;
}
.blue_menu_stripe{
	background: url(../img/blue_menu_stripe.png) repeat-x;
	height: 32px;
}
.blue_stripe{
	background: url(../img/blue_stripe.png) repeat-x;
	height: 20px;
	border-radius: 5px;
	padding: 0.4% 2% 0.4% 1%;
}
.cart{
	font-size: 0.8em;
	text-decoration: underline;
	/*line-height: 0.2em;*/
}
.fs0-6em{
	font-size: 0.6em;
}
.fs0-7em{
	font-size: 0.7em;
}
.fs0-95em{
	font-size: 0.95em;
}
.fs0-8em{
	font-size: 0.8em;
}
.fs1-4em{
	font-size: 1.4em;
}
.fs0-5em{
	font-size: 0.5em;
}
.fs0-6emi{
	font-size: 0.6em !important;
}
.lh1-9em{
	line-height: 1.9em;
}
.lh1-6em{
	line-height: 1.6em;
}
.lh0-8em{
	line-height: 1.2em;
}
.lh0-6em{
	line-height: 0.8em;
}
.tac{
	text-align: center;
}
.blue_stripe p{
	line-height: 1em;
	font-size: 0.65em;
}
.left_menu{
	height: 100%;
	background: #e8f0f6;
}
.tabs li{
	/*border-left-right: 1px solid #bebdbd;*/
	background: #e4e3e3;
	text-align: center;
	height: 1.54em;
}
li.active{
	background: #ffffff;
	border: none;
}
.left_menu ul li{
	border-top: 1px solid #e0e0e0;
	font-size: 0.7em;
	font-weight: bold;
	line-height: 2.29em;
	text-transform: capitalize;
}
.left_menu ul li ul li{
	line-height: 2em;
	font-size: inherit;
	font-weight: bold;
	text-transform: capitalize;
}
.footer, .footer a{
	color: #909090;
	text-transform: capitalize;
	font-size: 0.8em;
}
#footer{
	height: 8%;
}
.h1-7em{
	height: 1.7em;
}

.dbl{
	display: block;
}
li.column{
	padding: 0 4%;
}
li.column.padSmaller{
	padding: 0 2%;
}
.orange{
	border: none;
	cursor: pointer;
	height: 1.9em;
	background: #f99c02;
	font-size: 1.05em;
	font-weight: bold;
	color: #ffffff;
}
.fntBold{
	font-weight: bold;
}
.button{
	height: 2.4em;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	font-size: 0.4em;
	background: url(../img/grey_button.png) repeat-x;
}
.color666{
	color: #666666;
}
.colorc0c{
	color: #c0c0c0;
}
.color_dark_grey{
	color: #3c3c3f;
}

/* SPRITE */

.sprites div{
	background: url(../img/sprite.png) no-repeat top left;
}
.sprites div.noSprite{
	background: transparent;
}
.sprites span.forSprite{
	background: url(../img/sprite.png) no-repeat top left;
}
.sprite-basket_icon{ background-position: 0 0 !important; width: 15px; height: 17px; } 
.sprite-blue_menu_stripe{ background-position: 0 -67px !important; width: 16px; height: 32px; } 
.sprite-blue_stripe{ background-position: 0 -149px !important; width: 11px; height: 20px; } 
.sprite-enlarge_icon{ background-position: 0 -219px !important; width: 78px; height: 32px; } 
.sprite-facebook_big_icon{ background-position: 0 -301px !important; width: 20px; height: 20px; } 
.sprite-facebook_icon{ background-position: 0 -371px !important; width: 10px; height: 10px; } 
.sprite-ico_zoom{ background-position: 0 -428px !important; width: 78px; height: 33px; } 
.sprite-icon_down{ background-position: 0 -505px !important; width: 15px; height: 16px; } 
.sprite-icon_printer{ background-position: 0 -571px !important; width: 22px; height: 12px; } 
.sprite-icon_right{ background-position: 0 -633px !important; width: 15px; height: 16px; } 
.sprite-left_slider_icon{ background-position: 0 -699px !important; width: 10px; height: 15px; } 
.sprite-letter_icon{ background-position: 0 -764px !important; width: 11px; height: 8px; } 
.sprite-one_icon{ background-position: 0 -822px !important; width: 15px; height: 16px; } 
.sprite-plus_icon{ background-position: 0 -888px !important; width: 10px; height: 10px; } 
.sprite-right_slider_icon_{ background-position: 0 -948px !important; width: 10px; height: 15px; } 
.sprite-square_icon{ background-position: 0 -1013px !important; width: 12px; height: 5px; } 
.sprite-star_0_per_cent{ background-position: 0 -1068px !important; width: 15px; height: 14px; } 
.sprite-star_100_per_cent{ background-position: 0 -1132px !important; width: 15px; height: 14px; } 
.sprite-star_90_per_cent{ background-position: 0 -1196px !important; width: 19px; height: 20px; } 
.sprite-star_big_0_per_cent{ background-position: 0 -1266px !important; width: 19px; height: 17px; } 
.sprite-star_big_100_per_cent{ background-position: 0 -1333px !important; width: 19px; height: 17px; } 
.sprite-sun_icon{ background-position: 0 -1400px !important; width: 33px; height: 22px; } 
.sprite-three_icon{ background-position: 0 -1472px !important; width: 15px; height: 16px; } 
.sprite-twitter_big_icon{ background-position: 0 -1538px !important; width: 20px; height: 20px; } 
.sprite-twitter_icon{ background-position: 0 -1608px !important; width: 8px; height: 10px; } 
.sprite-double_stripe{ background-position: 0 -1645px !important; width: 5px; height: 5px; } 
.sprite-grey_button{ background-position: 0 -1665px !important; width: 10px; height: 14px; } 
