/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLE */
*{box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, span, div, li, ol, ul, a{
	font-family: verdana, sans-serif;
}
input, select{
	border: 1px solid #819ebc;
}
h4{
	/*padding: 1em 0 0.3em 1em;*/
	font: bold 1.2em verdana,sans-serif;
	line-height: 2em;
}
.likeH6{
	font: bold 0.65em verdana,sans-serif;
	/*line-height: 2em;*/
}
h3{
	font: bold 1.2em verdana,sans-serif;
	color: #386c93;
}
html,body,#main_container{
	height: 100%;
}
#main_container{
	min-height: 600px;
	margin: 0 auto;
	max-width: 960px;
	min-width: 800px;
}
a{
	text-decoration: none;
}
a.dec{
	text-decoration: underline;
}
.h1-2{
	height: 1.2em;
}
.h80{
	height: 80%;
}
.color_white{
	color: #ffffff;
}
.color_blue{
	color: #044d85;
}
#header{
	padding: 1% 0 0;
}
.row{
	width: 100%;
}
li.bord_none{
	border: none !important;
}
.row:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.left_menu a{
	color: #000000;
}
.left_menu > ul > li:last-child:after{
    content: ".";
    display: block;
    height: 0;
    margin-bottom: 1.8em;
    visibility: hidden;
}
.wrapper{
	/*margin: 0 auto;*/
	min-height: 100%;
	margin-bottom: -15%;
	/*max-width: 960px;*/
	/*min-width: 800px;*/
}
.column{
	float: left;
	/*padding: 0 5px;*/
}
.column.fr{
	float: right;
}
.column.w10{width: 10%;}
.column.w15{width: 15%;}
.column.w20{width: 20%;}
.column.w30{width: 30%;}
.column.w35{width: 35%;}
.column.w40{width: 40%;}
.column.w50{width: 50%;}
.column.w60{width: 60%;}
.column.w70{width: 70%;}
.column.w80{width: 80%;}
.column.w90{width: 90%;}
.column.w100{width: 100%;}
.column.w25{width: 25%;}
.column.w75{width: 75%;}
.upper_case{
	text-transform: uppercase;
}
.pt2{
	padding-top: 0.1em;
}
.pad5{
	padding: 1em;
}
.padBoth{
	padding: 0 0.5em;
}
.bordBot{
	border-bottom: 1px solid #bebdbd;
}
.bord{
	border: 1px solid #bebdbd;
}
.h100{
	min-height: 100%;
}
.bordRight{
	border-right: 1px solid #bebdbd;
}
.bordBotDot{
	border-bottom: 1px dotted #bebdbd;
}
.padrl1{
	padding: 0 1%;
}
.ptb3{
	padding: 3% 0;
}
.pt5{
	padding-top: 0.25em;
}
.prl5{
	padding: 0 0.8em;
}
.pl2-5{
	padding-left: 2.5%;
}
.pl10{
	padding: 0.35em 0 0 1.5em;
}
.pl05em{
	padding: 0 0 0 0.5em;
}
.mtl035_05{
	margin: 0.35em 0 0 0.5em;
}
.ml2-5{
	margin-left: 2.5%;
}
.ml1{
	margin-left: 1%;
}
.ml13{
	margin-left: 13%;
}
.mr2-5{
	margin-right: 2.5%;
}
.mr1{
	margin-right: 1%;
}
.mr1-5{
	margin-right: 1.5%;
}
.mt1{
	margin-top: 1%;
}
.mt2{
	margin-top: 2%;
}
.mt3{
	margin-top: 3%;
}
.mt0-5{
	margin-top: 0.5%;
}
.mt-0-5{
	margin-top: -0.5%;
}
.mt7{
	margin-top: 7%;
}
.tabs{
	border: 1px solid #bebdbd;
}
.banner{
	background: url(../img/banner.png) no-repeat;
	width: 335px;
	height: 95px;
}
.shop_picture{
	background: url(../img/shop_picture.png) no-repeat;
	width: 335px;
	height: 95px;
}
.blue_menu_stripe{
	background: url(../img/blue_menu_stripe.png) repeat-x;
	height: 32px;
}
.blue_stripe{
	background: url(../img/blue_stripe.png) repeat-x;
	height: 20px;
	border-radius: 5px;
	padding: 0.4% 2% 0.4% 1%;
}
.cart{
	font-size: 0.8em;
	text-decoration: underline;
	/*line-height: 0.2em;*/
}
.fs0-6em{
	font-size: 0.6em;
}
.fs0-5em{
	font-size: 0.5em;
}
.fs0-6emi{
	font-size: 0.6em !important;
}
.lh0-8em{
	line-height: 1.2em;
}
.blue_stripe p{
	line-height: 1em;
	font-size: 0.65em;
}
.left_menu{
	height: 100%;
	background: #e8f0f6;
}
.tabs li{
	/*border-left-right: 1px solid #bebdbd;*/
	background: #e4e3e3;
	text-align: center;
	height: 1.3em;
}
.tabs li.active{
	background: #ffffff;
	border: none;
}
.left_menu ul li{
	border-top: 1px solid #e0e0e0;
	font-size: 0.7em;
	font-weight: bold;
	line-height: 2.2em;
	text-transform: capitalize;
}
.left_menu ul li ul li{
	line-height: 1.9em;
	font-size: inherit;
	font-weight: bold;
	text-transform: capitalize;
}
.footer, .footer a{
	color: #909090;
	text-transform: capitalize;
	font-size: 0.8em;
}
#footer{
	height: 8%;
}
/*.left_menu li{
	font-size: 0.8em;
}*/
/* SPRITE */
.sprites div{
	background: url(../img/sprite.png) no-repeat top left;
}
.sprites div.noSprite{
	background: transparent;
}
.sprites span.forSprite{
	background: url(../img/sprite.png) no-repeat top left;
}
.sprite-basket_icon{ background-position: 0 0 !important; width: 15px; height: 17px; } 
.sprite-blue_menu_stripe{ background-position: 0 -67px !important; width: 16px; height: 32px; } 
.sprite-blue_stripe{ background-position: 0 -149px !important; width: 11px; height: 20px; } 
.sprite-enlarge_icon{ background-position: 0 -219px !important; width: 78px; height: 32px; } 
.sprite-facebook_big_icon{ background-position: 0 -301px !important; width: 20px; height: 20px; } 
.sprite-facebook_icon{ background-position: 0 -371px !important; width: 10px; height: 10px; } 
.sprite-ico_zoom{ background-position: 0 -431px !important; width: 55px; height: 24px; } 
.sprite-icon_down{ background-position: 0 -505px !important; width: 15px; height: 16px; } 
.sprite-icon_printer{ background-position: 0 -571px !important; width: 22px; height: 12px; } 
.sprite-icon_right{ background-position: 0 -633px !important; width: 15px; height: 16px; } 
.sprite-left_slider_icon{ background-position: 0 -699px !important; width: 10px; height: 15px; } 
.sprite-letter_icon{ background-position: 0 -764px !important; width: 11px; height: 8px; } 
.sprite-one_icon{ background-position: 0 -822px !important; width: 15px; height: 16px; } 
.sprite-plus_icon{ background-position: 0 -888px !important; width: 10px; height: 10px; } 
.sprite-right_slider_icon_{ background-position: 0 -948px !important; width: 10px; height: 15px; } 
.sprite-square_icon{ background-position: 0 -1013px !important; width: 12px; height: 5px; } 
.sprite-star_0_per_cent{ background-position: 0 -1068px !important; width: 15px; height: 14px; } 
.sprite-star_100_per_cent{ background-position: 0 -1132px !important; width: 15px; height: 14px; } 
.sprite-star_90_per_cent{ background-position: 0 -1196px !important; width: 19px; height: 20px; } 
.sprite-star_big_0_per_cent{ background-position: 0 -1266px !important; width: 19px; height: 17px; } 
.sprite-star_big_100_per_cent{ background-position: 0 -1333px !important; width: 19px; height: 17px; } 
.sprite-sun_icon{ background-position: 0 -1400px !important; width: 33px; height: 22px; } 
.sprite-three_icon{ background-position: 0 -1472px !important; width: 15px; height: 16px; } 
.sprite-twitter_big_icon{ background-position: 0 -1538px !important; width: 20px; height: 20px; } 
.sprite-twitter_icon{ background-position: 0 -1608px !important; width: 10px; height: 12px; } 
.dbl{
	display: block;
}
li.column{
	padding: 0 2%;
}
